astroid==2.5
blinker==1.4
Brotli==1.0.9
certifi==2021.5.30
cffi==1.15.0
click==7.1.2
colorama==0.4.4
cssselect2==0.5.0
dnspython==2.0.0
Flask==1.1.2
Flask-WeasyPrint==0.6
fonttools==4.31.2
html5lib==1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==9.1.0
pycparser==2.21
pylint==2.7.1
pyodbc==4.0.34
pyphen==0.12.0
six==1.16.0
tinycss2==1.1.1
toml==0.10.2
typed-ast==1.4.2
weasyprint==54.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zopfli==0.2.1
